*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.fls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.tdo
*.synctex.gz
*.fdb*
*.4ct
*.4tc
*.toc
*.upa
*.upb
*.xref
*~
*.swp
*.xdv
*.pdf
*.html
*.tmp
*.docx
*.pdf
.vscode/
*/.vscode/
mainNotes.bib
